:root{
    --element1: rgb(20,20,20);
}

*{
    background-color: var(--element1);
    color: rgb(255, 255, 255);
    
}

body{
    margin-left: 2%;
    padding: 0;
}

h5{
    margin: 0;
    padding: 0;
}

.header-subheader-combine *{
    font-family: cursive;
    text-align: left;
    margin-left: 0%;
    padding: 0px;
    height: 10px;
    color: rgb(230, 230,230);
}

.header-subheader-combine header{
    font-size: 40px;
}

.header-subheader-combine h6{
    font-size: 15px;
    margin-left: 2%;
}

.project-name-description *{
    display: inline-block;
    margin-left: 2%;
}

.project-name-description h6{
    padding-left: 2%;
}


.links{
    display: flex;
    width: 100%;
    margin-top: 5%;
    text-align: right;
}

.link-image{
    text-align: center;
    margin: 25px;
    flex: 0;
}

.link-image img{
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: collumn;
}

.links img{
    width: 30px;
    height: 30px;
    border: rgb(250, 171, 171) dashed 1px;
}

.project_links{
    flex: 1;
}

.recipes_header{
    font-size: 40px;
    font-family: cursive;
    text-align: center;
}

.paragraph_spacing{
    line-height:120%;
    margin-left: 4%;
}

.recipe_time > *, .recipe_time{
    background-color: rgb(250, 236, 236);
    width: 50%;
}

.recipe_time{
    border-radius: 0.1%;
    border-color: rgb(0, 0, 0);
    border-width: 4px;
    border-style: double;
}

.recipe_time_title{
    margin-left: 2%;
}

.recipe_list{
    list-style-type: none;
    text-align: center;
}

.right{
    text-align: right;
}

.outer{
    display:block;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    border: 1px solid #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    overflow:hidden;
    position:relative;
}

.inner{
    width: 1200px;
    height: 300px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    background-size: 200px 200px;
}

.inner#chocolate_chip_coffee_cake_image{ 
    background: 
        url(docs/assets/images/CCCC1.jpg) 0 0, 
        url(docs/assets/images/CCCC2.jpg) 300px 0, 
        url(docs/assets/images/CCCC3.jpg) 600px 0, 
        url(docs/assets/images/CCCC4.jpg) 900px 0;
    background-size: 300px 300px;
    background-repeat: no-repeat;
}

.inner#buffalo_chicken_sandwiches_image{ 
    background: 
        url(docs/assets/images/BCS1.jpg) 0 0, 
        url(docs/assets/images/BCS2.jpg) 300px 0, 
        url(docs/assets/images/BCS3.jpg) 600px 0, 
        url(docs/assets/images/BCS4.jpg) 900px 0;
    background-size: 300px 300px;
    background-repeat: no-repeat;
}

.inner#cuban_ropa_vieja_image{ 
    background: 
        url(docs/assets/images/CuRoVi1.jpg) 0 0, 
        url(docs/assets/images/CuRoVi2.jpg) 300px 0, 
        url(docs/assets/images/CuRoVi3.jpg) 600px 0, 
        url(docs/assets/images/CuRoVi4.jpg) 900px 0;
    background-size: 300px 300px;
    background-repeat: no-repeat;
}


.outer:hover .inner,.outer:focus .inner{
    animation:swap 8s ease-in-out infinite 2s;
}

@keyframes swap{
    0%{transform: translateX(0px);}
    25%{transform: translateX(-300px)} 
    50%{transform: translateX(-600px)}
    75%{transform: translateX(-900px)}
    100%{transform: translateX(0px);}
}

/* Server Page CSS */

.server-links-div{
    display: flexbox;
    background-color: rgba(53, 53, 53, 0.436);
}

.Apache-box{
    flex:0;
}

.Atheos-box{
    flex:1;
}

.Cockpit-box{
    flex:2;
}

.NextCloud-box{
    flex:3;
}

.Portainer-box{
    flex:4;
}

.Scrutiny-box{
    flex:5;
}